body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFEB;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: #5c281a;
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 1000;

}


header .social_icons {
    background-color: #5c281a;
    color: #FFFFEB;
    width: 12em;
    display: flex;
    justify-content: space-between;
    padding: .5em 2em;
    margin-left: auto;
}

header .cabecera_2 {
    background-color: #d24e37;
    color: #FFFFEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav a {
    color: #FFFFEB;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 600;
}

nav a:hover {
    color: #f3c736;
}

nav .button {
    font-weight: bolder;
    background-color: #FFFFEB;
    color: #d24e37;
    padding: .8em 1.5em;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

nav .button:hover {
    background-color: #f3c736;
    color: #5c281a;
    transform: scale(1.05);
}

.intro,
.uso-tablas,
.grid-imagenes,
.formulario,
footer {
    padding: 2em;
    text-align: center;
}

/* MAIN */

.intro {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    padding-top: 150px;
    background-color: #FFFFEB;
    color: #351d0d;
}

.intro .intro_texto {
    padding-top: 60px;
    text-align: left;
    max-width: 50%;
    padding-right: 3em;
}

.intro .intro_texto h2 {
    font-size: 36px;
    color: #5c281a;
}

.intro .intro_texto p {
    font-size: 18px;
    margin: 20px 0;
}

.intro .intro_imagen {
    max-width: 50%;
}

.intro .intro_imagen img {
    max-width: 100%;
    border-radius: 20px;
    /* border: 7px solid #7ec562; */
}


.intro button {
    font-family: Poppins;
    font-size: large;
    font-weight: 600;
    background-color: #d24e37;
    color: #FFFFEB;
    border: none;
    padding: 1em 2em;
    margin-top: 1.5em;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.intro button:hover {
    background-color: #f3c736;
    color: #5c281a;
    transform: scale(1.05);
}


/* TABLAS */



.tables {
    background-color: #5c281a;
    color: #FFFFEB;
    padding: 50px 250px;
    text-align: center;
}

.tables h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

thead {
    background-color: #e77f72;
}

th,
td {
    padding: 20px;
    border: 5px solid #5c281a;
    border-radius: 10px;
}

th {
    color: #FFFFEB;
}

td {
    color: #5c281a;
    background-color: #FFFFEB;
}

.btn {
    font-family: Poppins;
    font-size: large;
    font-weight: 600;
    background-color: #5c281a;
    color: #FFFFEB;
    border: none;
    margin-top: 30px;
    padding: 1em 2em;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s
}

.btn:hover {
    background-color: #FFFFEB;
    color: #5c281a;
    transform: scale(1.05);
}





/* IMAGENES EN CUADROS */

.grid-imagenes {
    padding: 60px 60px;
    padding-bottom: 80px;
    background-color: #f3c736;
    color: #fff;
    text-align: center;
}

.grid-imagenes h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    justify-items: center;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
}

.grid-item img {
    align-content: center;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 20px;
}

.grid-item:hover img {
    transform: scale(1.08);
    opacity: 0.8;
}

/* TITULOS DE LAS IMÁGENES */

.grid-item .title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #5c281a;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-size: 24px;
}

.grid-item:hover .title-overlay {
    opacity: 1;
}


.grid-imagenes button{
    margin-top: 50px;
    background-color: #FFFFEB;
    color: #5c281a;
}

.grid-imagenes button:hover{
    background-color: #5c281a;
    color: #FFFFEB;
}






/* FORMULARIO */

.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color:#FFFFEB;
    color: #5c281a;
    padding: 70px 120px;
    border-radius: 5px;
}

.formulario h2{
    font-size: 36px;
}

.formulario .info {
    align-content: center;
}

.formulario .form{
    background-color: #f3c73618;
    padding: 10px 40px;
    border-radius: 30px;
}

.formulario .form input{
    
    background-color: #ffffff;
    font-family: Poppins;
    display: block;
    width: 92%;
    margin-bottom: 1.5em;
    padding: 1em;
    border: none;
    border-radius: 5px;
}

.formulario .form button {
    font-family: Poppins;
    width: 100%;
    margin-bottom: 1.5em;
    padding: 1em;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}


.formulario .form input:focus {
    outline: none;
    background-color: #ebb19834;
}

.formulario label {
    display: flex;
    font-size: smaller;
    justify-self: left;
    margin-bottom: 1em;
}

.formulario label div {
    padding-right: 10px;
}

.formulario .form button {
    font-weight: 600;
    background-color: #d24e37;
    color: #FFFFEB;
    cursor: pointer;
}

.formulario .form button:hover {
    background-color: #f3c736;
    color: #FFFFEB;
    transform: scale(1.05);
}

/* FOOTER */

footer {
    font-size: small;
    background-color: #5c281a;
    color: #FFFFEB;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

footer div {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer .footer_1 {
    width: 200px;
}

footer .footer_2 {
    width: 200px;
}

footer h4 {
    font-size: 18px;
    margin-top: 0;
}

footer p,
footer ul {
    margin-bottom: 8px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}

footer li:hover{
    color: #f3c736;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-self: center;
    align-self: auto;
}

.social-icons a {
    color: #FFFFEB;
    font-size: 20px;
    text-decoration: none;
    width: 30px;
}

.social-icons a:hover {
    color: #f3c736;
}

footer button {
    background-color: #f3c736;
    color: #5c281a;
    font-family: Poppins;
    font-weight: bold;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

footer button:hover {
    background-color: #d24e37;
    color: #FFFFEB;
    transform: scale(1.05);
}